<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('partials/header') %>

  <h1>Lista de productos</h1>
  <ul>
    <% productos.forEach(function(producto) { %>
      <li>
        <%= producto.nombre %> - 
        <a href="/products/<%= producto.id %>">Ver detalle</a>
      </li>
    <% }) %>
  </ul>
    <%- include('partials/footer') %>
</body>

</html>
