<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoBasket.jfif" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<%- include('partials/header') %>

<body>
	<!-- Header -->
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
				<div class="col-7 col-md-6">
					<form class="formulario-login formAddProduct" action="/" method="get">
						<div class="label-email">
						  <label for="email">Imagen</label>
						  <input type="file" name="email" id="email" value="" class="input-email" />
						</div>
					  
						<div class="label-productName">
						  <label for="productName">Nombre del producto</label>
						  <input type="text" name="productName" id="productName" value="" class="input-productName" />
						</div>
					  
						<div class="label-desc">
						  <label for="checkbox">Descripción</label>
						  <input type="text" name="desc" id="desc" value="" class="input-desc" />
						</div>
					  
						<button class="button-log" type="submit">Agregar</button>
					  </form>
					  
				</div>
			</div>
			<!-- Show the "ultimos" products -->
			


	<!-- footer -->
	
	<!-- /footer -->
</body>
<%- include('partials/footer') %>


</html>