<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<%- include('partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> <main class="registro-main">
				<section class="registro-formulario">
				  <h2>Registrate</h2>
				  <form action="/index" method="GET" class="formulario-registro">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" required>
			  
					<label for="usuario">Usuario:</label>
					<input type="text" id="usuario" name="usuario" required>
			  
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" required>
			  
					<label for="fechaNacimiento">Fecha de nacimiento:</label>
					<input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
			  
					<label for="dni">Número de documento:</label>
					<input type="number" id="dni" name="dni" required>
			  
					<label for="fotoPerfil">Foto de perfil:</label>
					<input type="text" id="fotoPerfil" name="fotoPerfil">
			  
					<button type="submit">Registrarme</button>
				  </form>
				</section>
			  </main>
			   <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>


	<!-- footer -->
	
	<!-- /footer -->
	<%- include('partials/footer') %>

</body>

</html>